:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --accent-hover-color: #188ce8;
  --container-bg-color: #ffffff;
  --container-border-color: #eeeeee;
  --button-bg-color: #f5f4fa;
  --logo-main-color: #000000;
  --footer-background-color: #2f303a;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --soc-clients-color: #afb1b8;
  --grid-overlay-color: rgba(33, 150, 243, 0.9);
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans serif;
  color: var(--primary-text-color);
  background-color: var(--container-bg-color);
  letter-spacing: 0.03em;
}

.footer-input {
  background-color: rgb(97, 97, 141);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: baseline;
}

.input-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--container-bg-color);
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  /* align-items: center; */
}

.input-container input {
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  padding: 15px 16px;
  margin-right: 12px;
}

.input-container input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.input-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  color: var(--container-bg-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.input-img {
  fill: currentColor;
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-img:hover {
  transform: translateX(10px);
}
